/* ============================= */
/* Base Styles */
/* ============================= */

body {
    margin: 0;
    font-family: 'Smythe', cursive;
}


/* ============================= */
/* Layout Containers */
/* ============================= */

main,
.banner-text {
    width: 550px;
    margin: 0 auto;
    padding: 0 50px;
}


/* ============================= */
/* Header / Hero Section */
/* ============================= */

.banner {
    width: 100%;
    height: 150px;
    margin-bottom: 70px;

    background-image:
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url("./images/bgImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-text {
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    padding-top: 20px;
}

.banner-text h1 {
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.banner-text h2 {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0;
}


/* ============================= */
/* Menu Section */
/* ============================= */

.menu-items-area {
    display: block;
}

.img-text-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px 0;
    padding-bottom: 20px;
    border-bottom: 2px solid #dedede;
}

.img-n-text {
    display: flex;
    align-items: center;
    width: 350px;
}

.item-img {
    width: 100px;
    height: 100px;
}

.menu-discrptn {
    margin-left: 20px;
}

.ingredients {
    color: #8B8B8B;
}


/* ============================= */
/* Buttons */
/* ============================= */

.add-btn {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: 1px solid #dedede;
    background-color: whitesmoke;

    font-size: 30px;
    cursor: pointer;
}

/* ============================= */
/* Cart section */
/* ============================= */

.section-title {
    text-align: center;
    margin-top: 40px;
}

.order-row,
.order-total-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.order-total-row {
    border-top: 2px solid black;
    padding-top: 10px;
    font-weight: bold;
}

.place-order-btn {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 15px;
    background-color: #16DB99;
    color: white;
    border: none;
    cursor: pointer;
}